body {
    background-color: rgb(255,255,255);
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
    }

div {
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 153, 221);
}